openapi: 3.0.0
info:
  contact: {}
  description: Welcome to the Hathora Cloud API documentation! Learn how to use the
    Hathora Cloud APIs to build and scale your game servers globally.
  title: Hathora Cloud API
  version: 0.0.1
servers:
- url: https://api.hathora.dev
- url: /
tags:
- description: "Operations that allow you manage your [applications](https://hathora.dev/docs/concepts/hathora-entities#application)."
  name: AppV1
- description: "Operations that allow you to generate a Hathora-signed [JSON web token\
    \ (JWT)](https://jwt.io/) for [player authentication](https://hathora.dev/docs/lobbies-and-matchmaking/auth-service)."
  name: AuthV1
- description: ' '
  name: BillingV1
- description: "Operations that allow you create and manage your [builds](https://hathora.dev/docs/concepts/hathora-entities#build)."
  name: BuildV2
- description: "Deprecated. Use [BuildV2](https://hathora.dev/api#tag/BuildV2)."
  name: BuildV1
- description: "Operations that allow you configure and manage an application's [build](https://hathora.dev/docs/concepts/hathora-entities#build)\
    \ at runtime."
  name: DeploymentV2
- description: "Deprecated. Use [DeploymentV2](https://hathora.dev/api#tag/DeploymentV2)."
  name: DeploymentV1
- description: Service that allows clients to directly ping all Hathora regions to
    get latency information
  name: DiscoveryV1
- description: "Operations to create and manage lobbies using our [Lobby Service](https://hathora.dev/docs/lobbies-and-matchmaking/lobby-service)."
  name: LobbyV3
- description: "Deprecated. Use [LobbyV3](https://hathora.dev/api#tag/LobbyV3)."
  name: LobbyV2
- description: "Deprecated. Use [LobbyV3](https://hathora.dev/api#tag/LobbyV3)."
  name: LobbyV1
- description: "Operations to get logs by [applications](https://hathora.dev/docs/concepts/hathora-entities#application),\
    \ [processes](https://hathora.dev/docs/concepts/hathora-entities#process), and\
    \ [deployments](https://hathora.dev/docs/concepts/hathora-entities#deployment).\
    \ We store 20GB of logs data."
  name: LogV1
- description: ' '
  name: ManagementV1
- description: "Operations to get metrics by [process](https://hathora.dev/docs/concepts/hathora-entities#process).\
    \ We store 72 hours of metrics data."
  name: MetricsV1
- description: "Operations to get data on active and stopped [processes](https://hathora.dev/docs/concepts/hathora-entities#process)."
  name: ProcessesV2
- description: "Deprecated. Use [ProcessesV2](https://hathora.dev/api#tag/ProcessesV2)."
  name: ProcessesV1
- description: "Operations to create, manage, and connect to [rooms](https://hathora.dev/docs/concepts/hathora-entities#room)."
  name: RoomV2
- description: "Deprecated. Use [RoomV2](https://hathora.dev/api#tag/RoomV2)."
  name: RoomV1
- description: ' '
  name: OrgTokensV1
paths:
  /apps/v1/list:
    get:
      description: "Returns an unsorted list of your organization’s [applications](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ An application is uniquely identified by an `appId`."
      operationId: GetApps
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationWithLatestDeploymentAndBuild'
                type: array
          description: Ok
      security:
      - hathoraDevToken: []
      tags:
      - AppV1
  /apps/v1/create:
    post:
      description: "Create a new [application](https://hathora.dev/docs/concepts/hathora-entities#application)."
      operationId: CreateApp
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfig'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - AppV1
  /apps/v1/update/{appId}:
    post:
      description: "Update data for an existing [application](https://hathora.dev/docs/concepts/hathora-entities#application)\
        \ using `appId`."
      operationId: UpdateApp
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfig'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - AppV1
  /apps/v1/info/{appId}:
    get:
      description: "Get details for an [application](https://hathora.dev/docs/concepts/hathora-entities#application)\
        \ using `appId`."
      operationId: GetAppInfo
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - AppV1
  /apps/v1/delete/{appId}:
    delete:
      description: "Delete an [application](https://hathora.dev/docs/concepts/hathora-entities#application)\
        \ using `appId`. Your organization will lose access to this application."
      operationId: DeleteApp
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - AppV1
  /auth/v1/{appId}/login/anonymous:
    post:
      description: Returns a unique player token for an anonymous user.
      operationId: LoginAnonymous
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerTokenObject'
          description: Ok
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - AuthV1
  /auth/v1/{appId}/login/nickname:
    post:
      description: Returns a unique player token with a specified nickname for a user.
      operationId: LoginNickname
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NicknameObject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerTokenObject'
          description: Ok
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - AuthV1
  /auth/v1/{appId}/login/google:
    post:
      description: Returns a unique player token using a Google-signed OIDC `idToken`.
      operationId: LoginGoogle
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleIdTokenObject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerTokenObject'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - AuthV1
  /billing/v1/balance:
    get:
      operationId: GetBalance
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                format: double
                type: number
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BillingV1
  /billing/v1/paymentmethod:
    get:
      operationId: GetPaymentMethod
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BillingV1
  /billing/v1/customerportalurl:
    post:
      operationId: InitStripeCustomerPortalUrl
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPortalUrl'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BillingV1
  /billing/v1/invoices:
    get:
      operationId: GetInvoices
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Invoice'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BillingV1
  /builds/v1/{appId}/list:
    get:
      deprecated: true
      description: "Returns an array of [builds](https://hathora.dev/docs/concepts/hathora-entities#build)\
        \ for an [application](https://hathora.dev/docs/concepts/hathora-entities#application)."
      operationId: GetBuildsDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Build'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV1
  /builds/v1/{appId}/info/{buildId}:
    get:
      deprecated: true
      description: "Get details for a [build](https://hathora.dev/docs/concepts/hathora-entities#build)."
      operationId: GetBuildInfoDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: buildId
        required: true
        schema:
          $ref: '#/components/schemas/BuildId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV1
  /builds/v1/{appId}/create:
    post:
      deprecated: true
      description: "Creates a new [build](https://hathora.dev/docs/concepts/hathora-entities#build).\
        \ Responds with a `buildId` that you must pass to [`RunBuild()`](https://hathora.dev/api#tag/BuildV1/operation/RunBuild)\
        \ to build the game server artifact. You can optionally pass in a `buildTag`\
        \ to associate an external version with a build."
      operationId: CreateBuildDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuildParams'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV1
  /builds/v1/{appId}/run/{buildId}:
    post:
      deprecated: true
      description: "Builds a game server artifact from a tarball you provide. Pass\
        \ in the `buildId` generated from [`CreateBuild()`](https://hathora.dev/api#tag/BuildV1/operation/CreateBuild)."
      operationId: RunBuildDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: buildId
        required: true
        schema:
          $ref: '#/components/schemas/BuildId'
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RunBuildDeprecated_request'
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: byte
                type: string
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV1
  /builds/v1/{appId}/delete/{buildId}:
    delete:
      deprecated: true
      description: "Delete a [build](https://hathora.dev/docs/concepts/hathora-entities#build).\
        \ All associated metadata is deleted."
      operationId: DeleteBuildDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: buildId
        required: true
        schema:
          $ref: '#/components/schemas/BuildId'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV1
  /builds/v2/{appId}/list:
    get:
      description: "Returns an array of [builds](https://hathora.dev/docs/concepts/hathora-entities#build)\
        \ for an [application](https://hathora.dev/docs/concepts/hathora-entities#application)."
      operationId: GetBuilds
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Build'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV2
  /builds/v2/{appId}/info/{buildId}:
    get:
      description: "Get details for a [build](https://hathora.dev/docs/concepts/hathora-entities#build)."
      operationId: GetBuildInfo
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: buildId
        required: true
        schema:
          $ref: '#/components/schemas/BuildId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV2
  /builds/v2/{appId}/create:
    post:
      description: "Creates a new [build](https://hathora.dev/docs/concepts/hathora-entities#build).\
        \ Responds with a `buildId` that you must pass to [`RunBuild()`](https://hathora.dev/api#tag/BuildV1/operation/RunBuild)\
        \ to build the game server artifact. You can optionally pass in a `buildTag`\
        \ to associate an external version with a build."
      operationId: CreateBuild
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuildParams'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV2
  /builds/v2/{appId}/run/{buildId}:
    post:
      description: "Builds a game server artifact from a tarball you provide. Pass\
        \ in the `buildId` generated from [`CreateBuild()`](https://hathora.dev/api#tag/BuildV1/operation/CreateBuild)."
      operationId: RunBuild
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: buildId
        required: true
        schema:
          $ref: '#/components/schemas/BuildId'
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RunBuildDeprecated_request'
        required: true
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV2
  /builds/v2/{appId}/delete/{buildId}:
    delete:
      description: "Delete a [build](https://hathora.dev/docs/concepts/hathora-entities#build).\
        \ All associated metadata is deleted."
      operationId: DeleteBuild
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: buildId
        required: true
        schema:
          $ref: '#/components/schemas/BuildId'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - BuildV2
  /deployments/v1/{appId}/list:
    get:
      deprecated: true
      description: "Returns an array of [deployments](https://hathora.dev/docs/concepts/hathora-entities#deployment)\
        \ for an [application](https://hathora.dev/docs/concepts/hathora-entities#application)."
      operationId: GetDeploymentsDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Deployment'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - DeploymentV1
  /deployments/v1/{appId}/latest:
    get:
      deprecated: true
      description: "Get the latest [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment)\
        \ for an [application](https://hathora.dev/docs/concepts/hathora-entities#application)."
      operationId: GetLatestDeploymentDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - DeploymentV1
  /deployments/v1/{appId}/info/{deploymentId}:
    get:
      deprecated: true
      description: "Get details for a [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment)."
      operationId: GetDeploymentInfoDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          $ref: '#/components/schemas/DeploymentId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - DeploymentV1
  /deployments/v1/{appId}/create/{buildId}:
    post:
      deprecated: true
      description: "Create a new [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment).\
        \ Creating a new deployment means all new rooms created will use the latest\
        \ deployment configuration, but existing games in progress will not be affected."
      operationId: CreateDeploymentDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: buildId
        required: true
        schema:
          $ref: '#/components/schemas/BuildId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - DeploymentV1
  /deployments/v2/{appId}/list:
    get:
      description: "Returns an array of [deployments](https://hathora.dev/docs/concepts/hathora-entities#deployment)\
        \ for an [application](https://hathora.dev/docs/concepts/hathora-entities#application)."
      operationId: GetDeployments
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentV2'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - DeploymentV2
  /deployments/v2/{appId}/latest:
    get:
      description: "Get the latest [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment)\
        \ for an [application](https://hathora.dev/docs/concepts/hathora-entities#application)."
      operationId: GetLatestDeployment
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV2'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - DeploymentV2
  /deployments/v2/{appId}/info/{deploymentId}:
    get:
      description: "Get details for a [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment)."
      operationId: GetDeploymentInfo
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          $ref: '#/components/schemas/DeploymentId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV2'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - DeploymentV2
  /deployments/v2/{appId}/create/{buildId}:
    post:
      description: "Create a new [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment).\
        \ Creating a new deployment means all new rooms created will use the latest\
        \ deployment configuration, but existing games in progress will not be affected."
      operationId: CreateDeployment
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: buildId
        required: true
        schema:
          $ref: '#/components/schemas/BuildId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfigV2'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV2'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - DeploymentV2
  /discovery/v1/ping:
    get:
      deprecated: true
      description: "Returns an array of V1 regions with a host and port that a client\
        \ can directly ping. Open a websocket connection to `wss://<host>:<port>/ws`\
        \ and send a packet. To calculate ping, measure the time it takes to get an\
        \ echo packet back."
      operationId: GetPingServiceEndpointsDeprecated
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingEndpoints'
          description: Ok
      security: []
      tags:
      - DiscoveryV1
  /discovery/v2/ping:
    get:
      description: "Returns an array of all regions with a host and port that a client\
        \ can directly ping. Open a websocket connection to `wss://<host>:<port>/ws`\
        \ and send a packet. To calculate ping, measure the time it takes to get an\
        \ echo packet back."
      operationId: GetPingServiceEndpoints
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingEndpoints'
          description: Ok
      security: []
      tags:
      - DiscoveryV2
  /lobby/v1/{appId}/create/private:
    post:
      deprecated: true
      operationId: CreatePrivateLobbyDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
        style: form
      - explode: true
        in: query
        name: local
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomId'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - playerAuth: []
      tags:
      - LobbyV1
  /lobby/v1/{appId}/create/public:
    post:
      deprecated: true
      operationId: CreatePublicLobbyDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
        style: form
      - explode: true
        in: query
        name: local
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomId'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - playerAuth: []
      tags:
      - LobbyV1
  /lobby/v1/{appId}/list:
    get:
      deprecated: true
      operationId: ListActivePublicLobbiesDeprecatedV1
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: local
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lobby'
                type: array
          description: Ok
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - LobbyV1
  /lobby/v2/{appId}/create/private:
    post:
      deprecated: true
      operationId: CreatePrivateLobby
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: roomId
        required: false
        schema:
          $ref: '#/components/schemas/RoomId'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateLobby_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - playerAuth: []
      tags:
      - LobbyV2
  /lobby/v2/{appId}/create/public:
    post:
      deprecated: true
      operationId: CreatePublicLobby
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: roomId
        required: false
        schema:
          $ref: '#/components/schemas/RoomId'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateLobby_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - playerAuth: []
      tags:
      - LobbyV2
  /lobby/v2/{appId}/create/local:
    post:
      deprecated: true
      operationId: CreateLocalLobby
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: roomId
        required: false
        schema:
          $ref: '#/components/schemas/RoomId'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateLobby_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - playerAuth: []
      tags:
      - LobbyV2
  /lobby/v2/{appId}/create:
    post:
      deprecated: true
      description: "Create a new lobby for an [application](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ A lobby object is a wrapper around a [room](https://hathora.dev/docs/concepts/hathora-entities#room)\
        \ object. With a lobby, you get additional functionality like configuring\
        \ the visibility of the room, managing the state of a match, and retrieving\
        \ a list of public lobbies to display to players."
      operationId: CreateLobbyDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: roomId
        required: false
        schema:
          $ref: '#/components/schemas/RoomId'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLobbyParams'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - playerAuth: []
      tags:
      - LobbyV2
  /lobby/v2/{appId}/list/public:
    get:
      deprecated: true
      description: "Get all active lobbies for a an [application](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ Filter by optionally passing in a `region`. Use this endpoint to display\
        \ all public lobbies that a player can join in the game client."
      operationId: ListActivePublicLobbiesDeprecatedV2
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - description: "Region to filter by. If omitted, active public lobbies in all\
          \ regions will be returned."
        explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lobby'
                type: array
          description: Ok
      security: []
      tags:
      - LobbyV2
  /lobby/v2/{appId}/info/{roomId}:
    get:
      deprecated: true
      description: Get details for a lobby.
      operationId: GetLobbyInfo
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: roomId
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
          description: Ok
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - LobbyV2
  /lobby/v2/{appId}/setState/{roomId}:
    post:
      deprecated: true
      description: Set the state of a lobby. State is intended to be set by the server
        and must be smaller than 1MB. Use this endpoint to store match data like live
        player count to enforce max number of clients or persist end-game data (i.e.
        winner or final scores).
      operationId: SetLobbyState
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: roomId
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLobbyStateParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - LobbyV2
  /lobby/v3/{appId}/create:
    post:
      description: "Create a new lobby for an [application](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ A lobby object is a wrapper around a [room](https://hathora.dev/docs/concepts/hathora-entities#room)\
        \ object. With a lobby, you get additional functionality like configuring\
        \ the visibility of the room, managing the state of a match, and retrieving\
        \ a list of public lobbies to display to players."
      operationId: CreateLobby
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: shortCode
        required: false
        schema:
          $ref: '#/components/schemas/ShortCode'
        style: form
      - explode: true
        in: query
        name: roomId
        required: false
        schema:
          $ref: '#/components/schemas/RoomId'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLobbyV3Params'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV3'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - playerAuth: []
      tags:
      - LobbyV3
  /lobby/v3/{appId}/list/public:
    get:
      description: "Get all active lobbies for a given [application](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ Filter the array by optionally passing in a `region`. Use this endpoint\
        \ to display all public lobbies that a player can join in the game client."
      operationId: ListActivePublicLobbies
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - description: "If omitted, active public lobbies in all regions will be returned."
        explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LobbyV3'
                type: array
          description: Ok
      security: []
      tags:
      - LobbyV3
  /lobby/v3/{appId}/info/roomid/{roomId}:
    get:
      description: Get details for a lobby.
      operationId: GetLobbyInfoByRoomId
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: roomId
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV3'
          description: Ok
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - LobbyV3
  /lobby/v3/{appId}/info/shortcode/{shortCode}:
    get:
      description: "Get details for a lobby. If 2 or more lobbies have the same `shortCode`,\
        \ then the most recently created lobby will be returned."
      operationId: GetLobbyInfoByShortCode
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: shortCode
        required: true
        schema:
          $ref: '#/components/schemas/ShortCode'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV3'
          description: Ok
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - LobbyV3
  /logs/v1/{appId}/all:
    get:
      deprecated: true
      description: "Returns a stream of logs for an [application](https://hathora.dev/docs/concepts/hathora-entities#application)\
        \ using `appId`."
      operationId: GetLogsForApp
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: follow
        required: false
        schema:
          $ref: '#/components/schemas/LogsFollow'
        style: form
      - explode: true
        in: query
        name: tailLines
        required: false
        schema:
          $ref: '#/components/schemas/TailLines'
        style: form
      - explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - LogV1
  /logs/v1/{appId}/process/{processId}:
    get:
      description: "Returns a stream of logs for a [process](https://hathora.dev/docs/concepts/hathora-entities#process)\
        \ using `appId` and `processId`."
      operationId: GetLogsForProcess
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: processId
        required: true
        schema:
          $ref: '#/components/schemas/ProcessId'
        style: simple
      - explode: true
        in: query
        name: follow
        required: false
        schema:
          $ref: '#/components/schemas/LogsFollow'
        style: form
      - explode: true
        in: query
        name: tailLines
        required: false
        schema:
          $ref: '#/components/schemas/TailLines'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - LogV1
  /logs/v1/{appId}/process/{processId}/download:
    get:
      description: Download entire log file for a stopped process.
      operationId: DownloadLogForProcess
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: processId
        required: true
        schema:
          $ref: '#/components/schemas/ProcessId'
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - LogV1
  /logs/v1/{appId}/deployment/{deploymentId}:
    get:
      deprecated: true
      description: "Returns a stream of logs for a [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment)\
        \ using `appId` and `deploymentId`."
      operationId: GetLogsForDeployment
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          $ref: '#/components/schemas/DeploymentId'
        style: simple
      - explode: true
        in: query
        name: follow
        required: false
        schema:
          $ref: '#/components/schemas/LogsFollow'
        style: form
      - explode: true
        in: query
        name: tailLines
        required: false
        schema:
          $ref: '#/components/schemas/TailLines'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - LogV1
  /management/v1/sendverificationemail:
    post:
      operationId: SendVerificationEmail
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationEmailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationEmailSuccess'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - ManagementV1
  /metrics/v1/{appId}/process/{processId}:
    get:
      description: "Get metrics for a [process](https://hathora.dev/docs/concepts/hathora-entities#process)\
        \ using `appId` and `processId`."
      operationId: GetMetrics
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: processId
        required: true
        schema:
          $ref: '#/components/schemas/ProcessId'
        style: simple
      - description: Available metrics to query over time.
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          default:
          - cpu
          - memory
          - rate_egress
          items:
            $ref: '#/components/schemas/MetricName'
          type: array
        style: form
      - description: Unix timestamp. Default is current time.
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Unix timestamp. Default is -1 hour from `end`.
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: step
        required: false
        schema:
          $ref: '#/components/schemas/MetricsStep'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsData'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - MetricsV1
  /orgs/v1/{orgId}/invites:
    put:
      operationId: InviteUser
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          $ref: '#/components/schemas/OrgId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserInvite'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgPermission'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - OrganizationsV1
  /orgs/v1/{orgId}/invites/rescind:
    post:
      operationId: RescindInvite
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          $ref: '#/components/schemas/OrgId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescindUserInvite'
        required: true
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - OrganizationsV1
  /orgs/v1/{orgId}/invites/pending:
    get:
      operationId: GetOrgPendingInvites
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          $ref: '#/components/schemas/OrgId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgInvitesPage'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - OrganizationsV1
  /orgs/v1/user/invites/pending:
    get:
      operationId: GetUserPendingInvites
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgInvitesPage'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - OrganizationsV1
  /orgs/v1/{orgId}/invites/accept:
    post:
      operationId: AcceptInvite
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          $ref: '#/components/schemas/OrgId'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - OrganizationsV1
  /orgs/v1/{orgId}/invites/reject:
    post:
      operationId: RejectInvite
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          $ref: '#/components/schemas/OrgId'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - OrganizationsV1
  /processes/v1/{appId}/list/running:
    get:
      deprecated: true
      description: "Retrieve 10 most recently started [process](https://hathora.dev/docs/concepts/hathora-entities#process)\
        \ objects for an [application](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ Filter the array by optionally passing in a `region`."
      operationId: GetRunningProcesses
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProcessWithRooms'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - ProcessesV1
  /processes/v1/{appId}/list/stopped:
    get:
      deprecated: true
      description: "Retrieve 10 most recently stopped [process](https://hathora.dev/docs/concepts/hathora-entities#process)\
        \ objects for an [application](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ Filter the array by optionally passing in a `region`."
      operationId: GetStoppedProcesses
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Process'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - ProcessesV1
  /processes/v1/{appId}/info/{processId}:
    get:
      deprecated: true
      description: "Get details for a [process](https://hathora.dev/docs/concepts/hathora-entities#process)."
      operationId: GetProcessInfoDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: processId
        required: true
        schema:
          $ref: '#/components/schemas/ProcessId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - ProcessesV1
  /processes/v2/{appId}/info/{processId}:
    get:
      description: "Get details for a [process](https://hathora.dev/docs/concepts/hathora-entities#process)."
      operationId: GetProcessInfo
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: processId
        required: true
        schema:
          $ref: '#/components/schemas/ProcessId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessV2'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - ProcessesV2
  /processes/v2/{appId}/list/latest:
    get:
      description: "Retrieve the 10 most recent [processes](https://hathora.dev/docs/concepts/hathora-entities#process)\
        \ objects for an [application](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ Filter the array by optionally passing in a `status` or `region`."
      operationId: GetLatestProcesses
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ProcessStatus'
          type: array
        style: form
      - explode: true
        in: query
        name: region
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Region'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProcessV2'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - ProcessesV2
  /processes/v2/{appId}/stop/{processId}:
    post:
      description: "Stops a [process](https://hathora.dev/docs/concepts/hathora-entities#process)\
        \ immediately."
      operationId: StopProcess
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: processId
        required: true
        schema:
          $ref: '#/components/schemas/ProcessId'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - ProcessesV2
  /processes/v2/{appId}/create/{region}:
    post:
      description: "Creates a [process](https://hathora.dev/docs/concepts/hathora-entities#process)\
        \ without a room. Use this to pre-allocate processes ahead of time so that\
        \ subsequent room assignment via [CreateRoom()](https://hathora.dev/api#tag/RoomV2/operation/CreateRoom)\
        \ can be instant."
      operationId: CreateProcess
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: region
        required: true
        schema:
          $ref: '#/components/schemas/Region'
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessV2'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - ProcessesV2
  /rooms/v1/{appId}/create:
    post:
      deprecated: true
      operationId: CreateRoomDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: true
        in: query
        name: roomId
        required: false
        schema:
          $ref: '#/components/schemas/RoomId'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomParams'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomId'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - RoomV1
  /rooms/v1/{appId}/info/{roomId}:
    get:
      deprecated: true
      operationId: GetRoomInfoDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: roomId
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - RoomV1
  /rooms/v1/{appId}/list/{processId}/active:
    get:
      deprecated: true
      operationId: GetActiveRoomsForProcessDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: processId
        required: true
        schema:
          $ref: '#/components/schemas/ProcessId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoomWithoutAllocations'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - RoomV1
  /rooms/v1/{appId}/list/{processId}/inactive:
    get:
      deprecated: true
      operationId: GetInactiveRoomsForProcessDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: processId
        required: true
        schema:
          $ref: '#/components/schemas/ProcessId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoomWithoutAllocations'
                type: array
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - RoomV1
  /rooms/v1/{appId}/destroy/{roomId}:
    post:
      deprecated: true
      operationId: DestroyRoomDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: roomId
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - RoomV1
  /rooms/v1/{appId}/suspend/{roomId}:
    post:
      deprecated: true
      operationId: SuspendRoomDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: roomId
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security:
      - hathoraDevToken: []
      tags:
      - RoomV1
  /rooms/v1/{appId}/connectioninfo/{roomId}:
    get:
      deprecated: true
      operationId: GetConnectionInfoDeprecated
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          $ref: '#/components/schemas/AppId'
        style: simple
      - explode: false
        in: path
        name: roomId
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionInfo'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ""
      security: []
      tags:
      - RoomV1
  /rooms/v2/{appId}/create:
    post:
      description: "Create a new [room](https://hathora.dev/docs/concepts/hathora-entities#room)\
        \ for an existing [application](https://hathora.dev/docs/concepts/hathora-entities#application).\
        \ Poll the [`GetConnectionInfo()`](https://hathora.dev/api#tag/RoomV2/operation/GetConnectionInfo)\
        \ endpoint to get connection details for an active room."
      operationId: CreateRoom
[...]
